{% extends 'base.html.twig' %}

{% block title %}Abonné : Affichage
{% endblock %}

{% block body %}

	<h2>Affichage de l'abonné n°{{ abonne.id }}
	</h2>

	<ul class="list-group">
		<li class="list-group-item">
			<strong>Pseudo :
			</strong>
			{{ abonne.pseudo }}
		</li>
		<li class="list-group-item">
			<strong>Nom :
			</strong>
			{{ abonne.nom }}
		</li>
		<li class="list-group-item">
			<strong>Prénom :
			</strong>
			{{ abonne.prenom }}
		</li>
		{# <li class="list-group-item">
			<strong>Rôle :
			</strong>
			{{ abonne.role }}
		</li> #}
	</ul>
	<br>
	<a class="btn btn-primary" type="cancel" href="{{ path('accueil') }}">Accueil</a>
{% endblock %}
