{% extends 'base.html.twig' %}

{% block title %}Abonnés
{% endblock %}

{% block body %}
	<h1>Abonnés</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Pseudo</th>
				<th>Rôles</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for abonne in abonnes %}
				<tr>
					<td>{{ abonne.id }}</td>
					<td>{{ abonne.pseudo }}</td>
					<td>{{ abonne.roles ? abonne.roles|json_encode : '' }}</td>
					<td>{{ abonne.nom }}</td>
					<td>{{ abonne.prenom }}</td>
					<td>
						<a href="{{ path('abonne_show', {'id': abonne.id}) }}">
							<i class="fas fa-eye"></i>
						</a>
					</td>
					<td>
						<a href="{{ path('abonne_edit', {'id': abonne.id}) }}">
							<i class="fas fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
