{% extends "base.html.twig" %}

{% block body %}
	<ul class="list-group">
		<li class="list-group-item">
			Pseudo :
			{{ pseudo }}
		</li>
		<li class="list-group-item">
			MDP :
			{{ mdp }}
		</li>
		<li class="list-group-item">
			Email :
			{{ email }}
		</li>
		<li class="list-group-item">
			Civilité :
			{{ civilite }}
		</li>
		<li class="list-group-item">
			Nom :
			{{ nom }}
		</li>
		<li class="list-group-item">
			Prénom :
			{{ prenom }}
		</li>
	</ul>
{% endblock %}
