{% extends 'base.html.twig' %}

{% block title %}Abonné : Suppression
{% endblock %}

{% block body %}

	<h2>Confirmation de suppression de l'abonné n°{{ abonne.id }}
	</h2>

	<ul class="list-group">
		<li class="list-group-item">
			<strong>Pseudo :
			</strong>
			{{ abonne.pseudo }}
		</li>
		<li class="list-group-item">
			<strong>Nom :
			</strong>
			{{ abonne.nom }}
		</li>
		<li class="list-group-item">
			<strong>Prénom :
			</strong>
			{{ abonne.prenom }}
		</li>
		{# <li class="list-group-item">
			<strong>Rôle :
			</strong>
			{{ abonne.role }}
		</li> #}
	</ul>
	<br>
	<form method="post">
		<button class="btn btn-primary" type="submit">Confirmer</button>
		<a class="btn btn-primary" type="cancel" href="{{ path('abonne') }}">Annuler</a>
	</form>

{% endblock %}
